In [1]:
# Import the necessary Libraries
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Importing Big-Mart Data
train = pd.read_csv('Train.csv')
test  = pd.read_csv('Test.csv')

train.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [3]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
train.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
test.isna().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [6]:
test.Item_Fat_Content.unique()

array(['Low Fat', 'reg', 'Regular', 'LF', 'low fat'], dtype=object)

In [7]:
train.Item_Fat_Content.unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [8]:
train.Item_Fat_Content.replace({'Low Fat':'LF','low fat':'LF','Regular':'REG','reg':'REG'},inplace = True)
test.Item_Fat_Content.replace({'Low Fat':'LF','low fat':'LF','Regular':'REG','reg':'REG'},inplace = True)

In [9]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,REG,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,REG,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [10]:
train.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [11]:
## Now First Filling the missing values  in Train and Test DataSet
train.Outlet_Size.fillna('Medium',inplace = True) # Fitting the Outlet_Size with Medium
test.Outlet_Size.fillna('Medium',inplace = True)

train.Item_Weight.fillna(train.Item_Weight.mean(),inplace = True)
test.Item_Weight.fillna(test.Item_Weight.mean(),inplace = True)

bool_miss = train.Item_Visibility[train['Item_Visibility'] == 0]


# Fill Item_Visiblility From 0.0000 to mean of Item_Visibility
i = 0
while(i < len(train.Item_Visibility)):
    if(train.Item_Visibility[i] == 0):
        train.Item_Visibility[i] = np.mean(train.Item_Visibility)
    else:
        pass
    i += 1
    

#Get the first two characters of ID:
train['Item_Type_Combined'] = train['Item_Identifier'].apply(lambda x: x[0:2])

#Rename them to more intuitive categories:
train['Item_Type_Combined'] = train['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
train['Item_Type_Combined'].value_counts()


#Years

train['Outlet_Years']  = 2013 - train['Outlet_Establishment_Year']

<ipython-input-11-0cdc2b3a51c3>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Item_Visibility[i] = np.mean(train.Item_Visibility)

In [12]:
train.isna().sum(),test.isna().sum()

(Item_Identifier              0
 Item_Weight                  0
 Item_Fat_Content             0
 Item_Visibility              0
 Item_Type                    0
 Item_MRP                     0
 Outlet_Identifier            0
 Outlet_Establishment_Year    0
 Outlet_Size                  0
 Outlet_Location_Type         0
 Outlet_Type                  0
 Item_Outlet_Sales            0
 Item_Type_Combined           0
 Outlet_Years                 0
 dtype: int64,
 Item_Identifier              0
 Item_Weight                  0
 Item_Fat_Content             0
 Item_Visibility              0
 Item_Type                    0
 Item_MRP                     0
 Outlet_Identifier            0
 Outlet_Establishment_Year    0
 Outlet_Size                  0
 Outlet_Location_Type         0
 Outlet_Type                  0
 dtype: int64)

In [13]:
# Split the Data into X and y
X = train.drop(['Item_Identifier','Item_Outlet_Sales','Outlet_Identifier'],axis = 1)
y = train['Item_Outlet_Sales']

In [14]:
# Split the data into train and test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 12)

In [15]:
X_train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Type_Combined,Outlet_Years
913,15.350000,LF,0.161350,Soft Drinks,196.6768,1998,Medium,Tier 3,Grocery Store,Drinks,15
3334,20.350000,LF,0.039236,Household,127.2678,1987,High,Tier 3,Supermarket Type1,Non-Consumable,26
2476,12.857645,LF,0.026770,Household,77.0354,1985,Medium,Tier 3,Supermarket Type3,Non-Consumable,28
5502,14.800000,LF,0.019477,Health and Hygiene,193.0794,2004,Small,Tier 2,Supermarket Type1,Non-Consumable,9
3291,13.500000,REG,0.160624,Fruits and Vegetables,147.0102,2007,Medium,Tier 2,Supermarket Type1,Food,6

In [16]:
X_train.dtypes

Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Type_Combined            object
Outlet_Years                   int64
dtype: object

In [17]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Converting data into numerical Form

categorical_features = ['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type','Item_Type_Combined','Outlet_Type']

one_hot = OneHotEncoder(handle_unknown = 'ignore')

transformer = ColumnTransformer([('one_hot',one_hot,categorical_features)],remainder='passthrough')

transformed_X_train = transformer.fit_transform(X_train)
transformed_X_test  = transformer.fit_transform(X_test)

pd.DataFrame(transformed_X_train)

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,15.350000,0.161350,196.6768,1998.0,15.0
1,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,20.350000,0.039236,127.2678,1987.0,26.0
2,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,12.857645,0.026770,77.0354,1985.0,28.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,14.800000,0.019477,193.0794,2004.0,9.0
4,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,13.500000,0.160624,147.0102,2007.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6813,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,7.905000,0.016759,250.4408,1998.0,15.0
6814,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,6.465000,0.124403,266.1884,1987.0,26.0
6815,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,19.750000,0.041449,116.5466,2002.0,11.0
6816,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,16.200000,0.063017,100.3700,2004.0,9.0
6817,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,10.850000,0.028674,115.1808,2004.0,9.0

In [18]:
# Creating a method for the Evaluation of Regression model
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

def eval_reg_model(y_test,y_preds):
    print(f'R2 Score : {r2_score(y_test,y_preds) * 100:.2f}%')
    print(f'MAE : {mean_absolute_error(y_test,y_preds)}')
    print(f'MSE : {mean_squared_error(y_test,y_preds)}')

In [19]:
## Finding a Regression Model For Our_Problem
## Using a Ridge Regression Model

# 
from sklearn.linear_model import Ridge

model = Ridge()

model.fit(transformed_X_train,y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [20]:
# Making Predictions
y_preds = model.predict(transformed_X_test)
eval_reg_model(y_test,y_preds)

R2 Score : 57.67%
MAE : 826.8986973280196
MSE : 1238307.9325078428

In [21]:
## Finding a Regression Model For Our_Problem
## Using a RandomForestRegressor

# 
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

model.fit(transformed_X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [22]:
# Making Predictions
y_preds = model.predict(transformed_X_test)
eval_reg_model(y_test,y_preds)

R2 Score : 56.68%
MAE : 792.8270369935483
MSE : 1267250.8723563394

In [23]:
np.sqrt(mean_squared_error(y_test,y_preds))

1125.7223780117101

In [24]:
# Let's Try Hyper Parameter Tuning on RandomForestRegressor
# First Use by hand

by_hand_model = RandomForestRegressor(n_estimators=400,
                                      max_depth=4,
                                      min_samples_split=4,
                                      min_samples_leaf=2)

by_hand_model.fit(transformed_X_train,y_train)

# Making Predictions
y_preds = by_hand_model.predict(transformed_X_test)
eval_reg_model(y_test,y_preds)

np.sqrt(mean_squared_error(y_test,y_preds))

R2 Score : 60.66%
MAE : 753.8658124591989
MSE : 1150854.0665801435

1072.7786661656464

In [25]:
# Let's Cross Validate 
from sklearn.model_selection import cross_val_score
cross_val_score(by_hand_model,transformed_X_train,y_train).mean()

0.5834760246723667

In [26]:
# Let's Try RandomizedSearchCV for hyperparameter tuning
from sklearn.model_selection import RandomizedSearchCV

rs_grid = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

rs_model = RandomizedSearchCV(estimator = model,
                              param_distributions=rs_grid,
                              n_iter= 50,
                              n_jobs= -1,
                              cv  = 5,
                              verbose = True)

rs_model.fit(transformed_X_train,y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  9.0min
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed: 92.3min
[Parallel(n_jobs=-1)]: Done 250 out of 250 | elapsed: 117.9min finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fals...
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=True)

In [28]:
# Making Predictions
y_preds = rs_model.predict(transformed_X_test)
eval_reg_model(y_test,y_preds)

np.sqrt(mean_squared_error(y_test,y_preds))

R2 Score : 60.58%
MAE : 754.9000134911175
MSE : 1153277.8648179693

1073.907754333662

In [ ]:
## Now Import the model using pickle
import pickle

pickle.dump(rs_clf,open('Big_Mart_RFR_model1.pk1','wb'))